.pie-chart {
  width: 30vw;
  height: 30vh;
  display: inline-block;
  margin-bottom: 300px;
  .gender {
    // background-color: #843543;
  }
  .age {
    // background-color: #490349;
  }
  .religion {
    // background-color: #989222;
  }
}

.migration {
    display: block;
    // background-color: #982392;
}

.education {
    display: block;
    // background-color: #8a63e6;
}
