.person-table {
  .header {
    background-color: #92ace6;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    th {
      border: 1px solid black;
      padding: 5px 30px;
       border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
  }
  .body {

  }
  .pagination {
  padding: 0.5rem;
}
}



