.provide-time-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .clock-countdown {
    text-align: center;
    font-size: 35px;
    margin: 15px auto;

    .alert {
      color: red;
      font-weight: bold;
      font-size: 35px;
    }

    .clock {
      font-weight: bold;
      .type-p {
        font-size: 25px;
        font-weight: normal;
      }
    }
  }

  .search-bar {
    border-radius: 10px;
    height: 40px;
    width: 300px;
  }

  .table-regions {
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #e095a1;
    // border-radius: 15px;

    .region-row {
      &:hover {
        background-color: #8cdf8c;
        cursor: pointer;
      }
    }

    .field {
      text-align: center;
    }

    td,
    th {
      border: 1px solid black;
      padding: 10px;
    }

    .id-column {
      padding: 5px;
      color: #3c4fe0;
      min-width: 40px;
      text-align: center;
    }
    .name-column {
      min-width: 200px;
    }
    .des-column {
      min-width: 250px;
    }
    .tickBox {
      cursor: pointer;
    }
  }
}
