.something {
  .table-regions {
    margin: 10px auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #5eb35e;
    border-radius: 15px;

    .field {
      text-align: center;
    }

    td,
    th {
      // background-color: #65c77a;
      border: 1px solid black;
      padding: 10px;
    }

    .region-row {
      &:hover {
        cursor: pointer;
        background-color: #77e268;
      }
      .id-column {
      width: 10vw;
      padding: 5px;
      color: #3c4fe0;
      text-align: center;
    }
    .name-column {
      width: 30vw;
    }
    .des-column {
      width: 50vw;
    }
    .tickBox {
      cursor: pointer;
      // width: 10%;
    }
    }

    
  }
}
