.something {
  .table-regions {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #5eb35e;
    border-radius: 15px;

    .field {
      text-align: center;
    }

    td,
    th {
      background-color: #65c77a;
      border: 1px solid black;
      padding: 10px;
    }

    .id-column {
      padding: 5px;
      color: #3c4fe0;
      min-width: 40px;
      text-align: center;
    }
    .name-column {
      min-width: 200px;
    }
    .des-column {
      min-width: 250px;
    }
    .tickBox {
      cursor: pointer;
    }
  }
}
