.something {
  padding-right: 30px;
  .table-regions {
    margin: 10px auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #7cda7c;

    .field {
      text-align: center;
    }

    .header {
      background-color: #17bb69;
      font-size: 18px;
    } 

    td,
    th {
      // background-color: #65c77a;
      border: 1px solid black;
      padding: 10px;
    }

    .region-row {
      &:hover {
        cursor: pointer;
        background-color: #daa67c;
      }
      .id-column {
      width: 10vw;
      padding: 5px;
      text-align: center;
    }
    .name-column {
      width: 30vw;
    }
    .des-column {
      width: 50vw;
    }
    .tickBox {
      cursor: pointer;
      // width: 10%;
    }
    }

    
  }
}
